@import url("https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&display=swap");

* {
  margin: 0;
  padding: 0;
  scrollbar-width: unset;
}
body {
  font-weight: 400;
  color: white;
  font-size: 1em;
  background: linear-gradient(
      180deg,
      rgba(0, 0, 0, 1) 0%,
      rgba(46, 46, 46, 1) 100%
    )
    no-repeat;
}
.container {
  margin-left: 2%;
  margin-right: 2%;
  height: 100%;
}
header {
  padding: 2.5em 0;
  z-index: 2;
  position: relative;
}
header h1 {
  font-size: 1.9375em;
  font-weight: 800px;
  user-select: none;
}
header nav {
  float: right;
  width: 25%;
}
header nav ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
  margin-top: -1.875em;
}
header nav ul li {
  display: inline-block;
}
header nav ul li:not(.btn) a {
  outline: none;
  color: #fff;
  font-size: 0.9375em;
  text-decoration: none;
  user-select: none;
}
header nav ul li:not(.btn) {
  transition: 0.3s all;
}
header nav ul li:not(.btn):hover {
  transform: scale(1.2);
}
header nav ul li:not(.btn) a:hover {
  border-bottom: 0.15625em solid #797979;
  border-radius: 5%;
}
header nav ul li.btn a {
  outline: none;
  text-decoration: none;
  color: white;
  user-select: none;
}
header nav ul li.btn {
  padding: 0.625em;
  background: #393939;
  margin-top: -0.625em;
  border-radius: 0.625em;
  transition: 0.3s all;
  user-select: none;
}
header nav ul li.btn:hover {
  background: #343434;
  transform: scale(1.2);
}
footer {
  margin-top: 1%;
}
footer .footer-text {
  font-size: 0.9375em;
  text-align: center;
  margin-left: 45%;
  padding-top: 1%;
}
.page:after {
  content: "";
  display: block;
}
footer,
.page:after {
  height: 2em;
}

.page {
  min-height: 94%;
  margin-bottom: -0.625em;
}
footer .btn-telgram a {
  color: white;
  text-decoration: none;
  user-select: none;
  transition: 0.3s all;
}
footer .btn-telgram {
  outline: none;
  background: #393939;
  padding: 0.9375em;
  border-radius: 1.25em;
  user-select: none;
  float: right;
  margin-top: 0.625em;
  margin-right: 46%;
  transition: 0.3s all;
  margin-bottom: 2%;
  box-shadow: 0px 0px 50px #f2f2f2;
}
footer .btn-telgram:hover {
  background: #2c2c2c;
  transform: scale(1.3);
  box-shadow: 0px 0px 50px yellow;
}
hr {
  width: 100%;
  height: 0.25em;
  background: #797979;
  border: none;
}
body .container .post .new {
  float: left;
  height: 0.5em;
  width: 0.5em;
  border: white;
  border-radius: 0.25em;
  background: yellow;
  transition: 0.3s all;
}
body .container .post .new:hover {
  box-shadow: 0px 0px 10px orange;
  transform: scale(1.5);
  width: 1em;
}
.hover-new-text {
  position: absolute;
  font-size: 0.0625em;
  font-weight: 700;
  color: black;
  margin-left: 5%;
  opacity: 0; /* Прячем текст */
  transition: opacity 0.3s all;
  user-select: none;
}

body .container .post .new:hover .hover-new-text {
  opacity: 1; /* Показываем текст при наведении */
}
body .container .post {
  border: 0.125em solid white;
  height: 50%;
  float: left;
  width: 40%;
  background: linear-gradient(
    -180deg,
    rgba(57, 57, 57, 1) 0%,
    rgba(0, 0, 0, 1) 100%
  );
  padding: 1.25em;
  border-radius: 30px;
  margin-left: 3.75em;
  margin-bottom: 1.875em;
}
body .container .post h1 {
  color: white;
  font-size: 2.5em;
}
body .container .post p {
  color: white;
  font-size: 0.9375em;
}
body .container .post button {
  outline: none;
  background: #393939;
  padding: 0.9375em;
  border-radius: 1.25em;
  user-select: none;
  float: right;
  border: none;
  color: white;
  transition: 0.3s all;
  margin-top: 0.4375em;
}
body .container .post button:hover {
  background: #343434;
  transform: scale(1.3);
}
body .container .cover {
  width: 100%;
  height: 32.5em;
  background: url("/coverImg.jpg") no-repeat;
  border-radius: 20px;
  margin-bottom: 1.25em;
}
body .container .cover h3 {
  font-size: 1.25em;
  color: #0e1258;
  font-weight: 400;
  float: left;
  margin-left: 43%;
  margin-top: 2%;
  text-align: center;
  user-select: none;
}
body .container .cover h1 {
  float: right;
  color: white;
  margin-right: 35%;
  margin-top: 8%;
  text-align: center;
  font-size: 6.25em;
}
body .container .cover a img {
  float: left;
  margin-left: 48%;
  margin-top: 5em;
  border-radius: 1.25em;
  user-select: none;
}
body .container .cover .html {
  float: left;
  margin-top: -6.5%;
  margin-left: -52.5%;
  padding-left: 3.125em;
  padding-right: 3.625em;
  padding-top: 4.1875em;
  padding-bottom: 4.1875em;
  border-radius: 9.375em;
  color: white;
  background: red;
  user-select: none;
  border: none;
  transition: 0.3s all;
}
body .container .cover .html:hover {
  background: #542e2d;
}
body .container .cover .python {
  float: left;
  margin-top: 5.5em;
  margin-left: -47%;
  padding-left: 3.125em;
  padding-right: 3.125em;
  padding-top: 4.0625em;
  padding-bottom: 4.0625em;
  border-radius: 9.375em;
  color: white;
  background: #00a2b1;
  border: none;
  user-select: none;
  transition: 0.3s all;
}
body .container .cover .python:hover {
  background: #133c40;
}
body .container .cover .http {
  float: left;
  margin-top: -2.1em;
  margin-left: -38.4%;
  padding-left: 2.625em;
  padding-top: 3.25em;
  padding-bottom: 3.25em;
  padding-right: 2.8125em;
  border-radius: 9.375em;
  color: white;
  background: #eea21b;
  border: none;
  user-select: none;
  transition: 0.3s all;
}
body .container .cover .http:hover {
  background: #4f3c1b;
}
body .container .cover .csharp {
  float: left;
  margin-top: 10em;
  margin-left: -35.5%;
  padding-left: 2.625em;
  padding-right: 2.625em;
  padding-top: 2.625em;
  padding-bottom: 2.625em;
  border-radius: 9.375em;
  border: none;
  color: white;
  background: #ff6a65;
  user-select: none;
  transition: 0.3s all;
}
body .container .cover .csharp:hover {
  background: #572c2c;
}
body .container .cover .php {
  float: left;
  margin-top: -16.1em;
  margin-left: -35%;
  padding-left: 3.75em;
  padding-right: 3.75em;
  padding-top: 4em;
  padding-bottom: 4em;
  border-radius: 9.375em;
  user-select: none;
  border: none;
  color: white;
  background: #88b413;
  transition: 0.3s all;
}
body .container .cover .php:hover {
  background: #353f19;
}
body .container .cover .com {
  float: left;
  margin-top: -13.5em;
  margin-left: 21%;
  padding-left: 2.625em;
  padding-right: 2.625em;
  padding-top: 2.625em;
  padding-bottom: 2.625em;
  border-radius: 9.375em;
  border: none;
  color: white;
  user-select: none;
  background: #00a2b0;
  transition: 0.3s all;
}
body .container .cover .com:hover {
  background: #133c40;
}
body .container .cover .js {
  float: left;
  margin-top: -1.4em;
  margin-left: 25.7%;
  padding-left: 3.5em;
  padding-top: 3.5em;
  padding-bottom: 3.5em;
  padding-right: 3.5em;
  border-radius: 9.375em;
  border: none;
  color: white;
  user-select: none;
  background: #64c8c8;
  transition: 0.3s all;
}
body .container .cover .js:hover {
  background: #2a4745;
}
body .container .cover .css {
  float: left;
  margin-top: 9.3em;
  margin-left: -0.5%;
  padding-left: 2.25em;
  padding-right: 2.25em;
  padding-top: 2.375em;
  padding-bottom: 2.375em;
  border-radius: 9.375em;
  border: none;
  user-select: none;
  color: white;
  background: #00a2b1;
  transition: 0.3s all;
}
body .container .cover .css:hover {
  background: #143b40;
}
body .container .cover .ruby {
  float: left;
  margin-top: 10em;
  margin-left: -16.5em;
  border: none;
  user-select: none;
  padding-left: 2.4375em;
  padding-right: 2.4375em;
  padding-top: 3em;
  padding-bottom: 3em;
  border-radius: 9.375em;
  color: white;
  background: #ff6a66;
  transition: 0.3s all;
}
body .container .cover .ruby:hover {
  background: #542e2d;
}
body .container .tel-post {
  width: 100%;
  height: 18.75em;
  background: url("/telegram.png") no-repeat center center;
  margin-top: 15em;
  border-radius: 1.25em;
}
body .container .tel-post h4 {
  font-size: 1.5em;
  font-weight: 400;
  float: left;
  margin-left: 43%;
  margin-top: 2%;
}
body .container .tel-post p {
  font-size: 1em;
  font-weight: 400;
  float: right;
  margin-top: 2%;
  margin-right: 41%;
}
body .container .tel-post a {
  text-decoration: none;
  user-select: none;
}
body .container .tel-post a img {
  border-radius: 1.25em;
  float: left;
  margin-top: 2%;
  margin-left: 48.5%;
}
body .container .tel-post a button {
  padding: 1.25em;
  background: #343434;
  margin-top: 2%;
  border-radius: 0.625em;
  transition: 0.3s all;
  user-select: none;
  border: none;
  color: white;
  float: left;
  margin-left: 47%;
  box-shadow: 3px 3px 10px #363636;
}
body .container .tel-post a button:hover {
  background: #393939;
  transform: scale(1.3);
}
body .container .text {
  width: 97%;
  height: 100%;
  background: #464646;
  border-radius: 1.25em;
  padding: 1.25em;
}
body .container .text table {
  width: 100%;
  height: 12.5em;
  border: 2px solid white;
  margin-top: 1.25em;
  border-radius: 1.25em;
}
body .container .text table th {
  border-bottom: 2px solid white;
}
body .container .text q {
  font-size: 1em;
  font-weight: 500;
}
body .container .text ul {
  margin-left: 1.25em;
}
body .container .text .btnWin,
.btnIOS,
.btnAndroid,
.btnMac {
  padding: 1.25em;
  background: #343434;
  border-radius: 0.625em;
  transition: 0.3s all;
  user-select: none;
  border-left: 2px solid white;
  border-top: 2px solid white;
  border-bottom: 2px solid black;
  border-right: 2px solid black;
  color: white;
  float: left;
  margin-right: 1.8em;
  box-shadow: 2px 2px 5px #727272;
}
body .container .text .btnWin:hover,
.btnIOS:hover,
.btnAndroid:hover,
.btnMac:hover {
  background: #393939;
  transform: scale(1.3);
}
body .container .text .code {
  border: 2px solid white;
  font-weight: 300;
  font-family: "Fira Code";
  border-radius: 1.25em;
  padding: 1.25em;
  background: black;
  margin-left: 0.6253em;
  font-size: medium;
  color: rgb(0, 255, 0);
}
body .container .text .code-mini {
  border: 0.1em solid white;
  font-weight: 300;
  font-family: "Fira Code";
  border-radius: 1.25em;
  padding: 0.3em;
  background: black;
  margin-left: 0.6253em;
  font-size: small;
  color: rgb(0, 255, 0);
  width: fit-content;
  transition: 0.3s all;
}
body .container .text .code-mini:hover {
  transform: rotate(-3deg);
}
body .container .text .prew-brow {
  border: 0.03125em solid black;
  font-family: "";
  border-radius: 1.25em;
  padding: 1.25em;
  background: white;
  color: black;
}
body .container .text .prew-brow nav {
  float: left;
  width: 98.5%;
  border: 0.1em solid black;
  border-radius: 1.25em;
  margin-bottom: 1.25em;
  padding: 0.625em;
}
body .container .text .prew-brow nav ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
}
body .container .text .prew-brow nav ul li {
  display: inline-block;
  font-weight: 600;
}
body .container .text .prew-brow nav ul li:not(.new) {
  border: 0.1em solid black;
  padding: 0.375em;
  border-radius: 0.375em;
  transition: 0.3s all;
  user-select: none;
  background: white;
  box-shadow: 5px 5px 50px #363636;
  margin-right: 0.625em;
}
body .container .text .prew-brow nav ul li.new {
  border: 0.1em solid black;
  padding: 0.15625em;
  border-radius: 1.25em;
  transition: 0.3s all;
  user-select: none;
  margin-right: 87%;
  background: white;
  box-shadow: 5px 5px 50px #363636;
  font-weight: 600;
}
body .container .text .prew-brow nav ul li.new p {
  user-select: none;
  margin-top: 45%;
}
body .container .text .prew-brow nav ul li:hover {
  transform: scale(1.3);
}
body .container .text .prew-brow .brow {
  width: 98%;
  border: 0.1em solid black;
  border-radius: 0.625em 0.625em 1.25em 1.25em;
  margin-top: 5%;
  padding: 0.625em;
  background: white;
  transition: 0.3s all;
  color: white;
}
body .container .text .prew-brow .brow:hover {
  background: black;
  color: rgb(0, 255, 0);
  transform: rotate(-1.5deg);
}
body .container .text .code-big-mini {
  border: 0.125em solid white;
  font-weight: 300;
  font-family: "Fira Code";
  border-radius: 1.25em;
  padding: 0.6253em;
  background: black;
  margin-left: 0.6253em;
  font-size: medium;
  color: rgb(0, 255, 0);
  width: fit-content;
}
body .container .text table td {
  margin-left: 2%;
}
body .container .text table .text-hy {
  width: 20%;
  hyphens: auto;
}
body .container .text .prew-terminal {
  border: 0.03125em solid black;
  font-family: "";
  border-radius: 1.25em;
  padding: 1.25em;
  background: black;
  color: rgb(0, 255, 0);
}
body .container .text .prew-terminal nav {
  float: left;
  width: 98.5%;
  border: 0.1em solid white;
  border-radius: 1.25em;
  margin-bottom: 1.25em;
  padding: 0.625em;
}
body .container .text .prew-terminal nav ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
}
body .container .text .prew-terminal nav ul li {
  display: inline-block;
  font-weight: 600;
}
body .container .text .prew-terminal nav ul li:not(.new) {
  border: 0.1em solid white;
  padding: 0.375em;
  border-radius: 0.375em;
  transition: 0.3s all;
  user-select: none;
  background: black;
  box-shadow: 5px 5px 50px #363636;
  margin-right: 0.625em;
}
body .container .text .prew-terminal nav ul li.new {
  border: 0.1em solid white;
  padding: 0.15625em;
  border-radius: 1.25em;
  transition: 0.3s all;
  user-select: none;
  margin-right: 91.5%;
  background: black;
  box-shadow: 5px 5px 50px #363636;
  font-weight: 600;
}
body .container .text .prew-terminal nav ul li.new p {
  user-select: none;
  margin-top: 45%;
}
body .container .text .prew-terminal nav ul li:hover {
  transform: scale(1.3);
}
body .container .text .prew-terminal .terminal {
  width: 98%;
  border: 0.1em solid white;
  border-radius: 0.625em 0.625em 1.25em 1.25em;
  margin-top: 5%;
  padding: 0.625em;
  background: black;
  transition: 0.3s all;
}
body .container .text .prew-terminal .terminal:hover {
  background: white;
  color: black;
  transform: rotate(-1.5deg);
}
body .container .text .text-post {
  border: 0.125em solid white;
  margin-left: 35%;
  width: 21.75em;
  border-radius: 20px;
  background-color: #272727;
  box-shadow: 10px 10px 50px black;
  transition: 0.3s all;
  text-align: center;
}
body .container .text .text-post:hover {
  transform: scale(1.2);
  background-color: black;
  color: rgb(0, 255, 0);
  border-color: rgb(0, 255, 0);
}
body .container .text .text-post .padding-box {
  padding: 10%;
}
body .container .text .list {
  transition: 0.3s all;
  width: 90%;
}
body .container .text .list li {
  transition: 0.3s all;
}
body .container .text .list li:hover {
  transform: scale(1.1);
  color: rgb(0, 255, 0);
  margin-left: 6%;
  filter: drop-shadow(7px 7px 1.5px rgb(0 0 0 / 0.5));
}
body .container .text .author-speak {
  border: 0.125em solid white;
  border-radius: 1.25em;
  padding: 5%;
  text-align: center;
  margin: 4%;
  background-color: #363636;
  transition: 0.3s all;
  box-shadow: 10px 10px 50px black;
}
body .container .text .author-speak:hover {
  transform: scale(1.1);
  background-color: #2c2c2c;
  border-color: rgb(0, 255, 0);
}
body .container .text .author-speak .author {
  font-weight: 300;
  margin-right: 10%;
}
body .container .text .author-speak .en::first-letter {
  color: rgb(0, 255, 0);
  initial-letter: 2 1;
}
body .container .text .author-speak .ru::first-letter {
  color: rgb(0, 255, 0);
  initial-letter: 2 1;
}
body .container .text .code-big-mini-small {
  border: 0.125em solid white;
  font-weight: 300;
  font-family: "Fira Code";
  border-radius: 1.25em;
  padding: 0.6253em;
  background: black;
  margin-left: 0.6253em;
  font-size: 0.75em;
  color: rgb(0, 255, 0);
  width: fit-content;
}
body .container .text table td {
  padding-top: 1%;
  padding-bottom: 1%;
}
body .container .text .list .padding-hover {
  padding-bottom: 0.5%;
  padding-top: 0.5%;
}
body .container .text .list .padding-hover:hover {
  padding-top: 2%;
  padding-bottom: 2%;
}
body .container .text a {
  font-weight: 500;
  color: white;
  text-decoration: none;
  transition: 0.3s;
}
body .container .text a:hover {
  color: #979998;
  transform: scale(-1.1);
}
body .container .text .list .in-list {
  transition: 0.3s all;
}
body .container .text .list .in-list:hover {
  transform: rotate(2.5deg);
  padding-top: 2%;
  padding-bottom: 1%;
}
body .container .text .list-code {
  width: 90%;
}
body .container .text .list-code li {
  transition: 0.3s all;
  padding-top: 1%;
}
body .container .text .list-code li:hover {
  padding-top: 2%;
  padding-bottom: 2%;
  transform: scale(1.1);
  color: rgb(0, 255, 0);
  margin-left: 6%;
  filter: drop-shadow(7px 7px 1.5px rgb(0 0 0 / 0.5));
}
body .container .text .list .padding-hover-big {
  padding-bottom: 1%;
  padding-top: 1%;
}
body .container .text .list .padding-hover-big:hover {
  padding-top: 4%;
  padding-bottom: 4%;
}
body .container .text .list .padding-hover-big-big {
  padding-bottom: 1%;
  padding-top: 1%;
}
body .container .text .list .padding-hover-big-big:hover {
  padding-top: 5%;
  padding-bottom: 5%;
}
body .container .back-to-top {
  background: #373737;
  border-radius: 50%;
  position: fixed;
  bottom: 10px;
  padding: 10px 12px;
  right: -4.625em;
  cursor: pointer;
  transition: 0.3s all;
  border: 0px;
  box-shadow: 0px 0px 10px rgb(216, 216, 216);
}
body .container .back-to-top.visible {
  right: 3.125em;
}
body .container .back-to-top:hover {
  background: #2c2c2c;
  transform: scale(1.3);
  box-shadow: 0px 0px 50px rgb(0, 255, 0);
}
header nav ul li.search {
  filter: drop-shadow(0px 0px 5px #373737);
  border-bottom: none;
}
header nav ul li.search:hover {
  border-bottom: none;
  transform: rotate(-280deg);
  filter: drop-shadow(0px 0px 10px rgb(0, 255, 0));
}
header nav ul li.search a:hover {
  border-bottom: none;
}
body .container .cover-search {
  width: 100%;
  height: 100%;
  background: #373737;
  border-radius: 20px;
  margin-bottom: 1.25em;
}
body .container .cover-search .search-input {
  margin-top: 2%;
  margin-left: 35%;
  height: 3em;
  width: 30em;
  outline: none;
  text-align: center;
  border: 0.125em solid white;
  background: black;
  color: rgb(0, 255, 0);
  border-radius: 0.9375em;
  transition: 0.3s all;
  box-shadow: 0px 0px 10px black;
}
body .container .cover-search .search-input:hover {
  transform: rotate(-1.1deg);
  box-shadow: 0px 0px 50px rgb(216, 216, 216);
}
body .container .cover-search h1 {
  margin-left: 38%;
  font-size: 3.125em;
}
body .container .cover-search .list-search {
  margin: 5%;
}
body .container .cover-search .list-search .btn {
  background: #272727;
  margin-top: 1%;
  margin-bottom: 1%;
  border: 0px;
  border-radius: 30%;
  cursor: pointer;
  padding: 1%;
  transition: 0.3s all;
  margin-left: 90%;
}
body .container .cover-search .list-search .btn a {
  text-decoration: none;
  color: white;
  user-select: none;
  transition: 0.3s all;
}
body .container .cover-search .list-search .btn:hover {
  transform: scale(1.3);
  background: black;
  box-shadow: 0px 0px 50px yellow;
}
body .container .cover-search .list-search .btn a:hover {
  color: rgb(0, 255, 0);
}
body .container .cover-search .list-search li {
  border: 1% solid white;
  border-radius: 1.125em;
  background: linear-gradient(-232deg, rgb(0, 0, 0) 0%, rgb(78, 78, 78) 100%);
  padding: 2%;
  transition: 0.3s all;
  width: 95%;
}
body .container .cover-search .list-search li:hover {
  transform: rotate(2.4deg);
  box-shadow: 0px 0px 90px #272727;
}
body .container .text .link-pr {
  color: white;
  text-decoration: none;
  transition: 0.3s all;
}
body .container .text .link-pr:hover {
  color: rgb(0, 255, 0);
  transform: scale(1.2);
  padding: 0.2%;
  border-left: 0.3em solid rgb(0, 255, 0);
  background-color: black;
  border-top: 0.1em solid rgb(0, 255, 0);
  box-shadow: 0% 0% 50% yellow;
  border-radius: 20%;
}
body .container .text .link-pr .p-link-pr:hover {
  filter: drop-shadow(0px 0px 10px #797979);
}
body .container .text .img-code {
  border: 0.1em solid white;
  font-weight: 300;
  font-family: "Fira Code";
  border-radius: 1.25em;
  padding: 0.3em;
  background: url("/telegram.png") center no-repeat;
  margin-left: 0.6253em;
  font-size: small;
  color: white;
  width: fit-content;
  transition: 0.3s all;
  margin-right: 0.6253em;
}
body .container .text .list li a {
  color: #b4b4b4fa;
  text-decoration: none;
  transition: 0.3s all;
}
body .container .text .list li a:hover {
  color: rgb(0, 255, 0);
  transform: scale(2.5);
}
body .container .text .separator {
  width: 100%;
  height: 745px;
}
body .container .text .separator .separator-left {
  width: 47%;
  height: 100%;
  background: #424242;
  float: left;
  border-radius: 1.25em;
  padding: 1%;
}
body .container .text .separator .separator-right {
  width: 47%;
  height: 100%;
  background: #424242;
  float: right;
  border-radius: 1.25em;
  margin-top: -745px;
  padding: 1%;
}
body .container .text .separator .separator-liner {
  width: 3%;
  margin-left: 1%;
  margin-right: 1%;
  border-left: 2px solid white;
  float: left;
  height: 720px;
  margin-top: 25px;
}
body .container .text .separator .color-green {
  background-color: #66ff66;
  width: 15px;
  height: 15px;
  display: inline-block;
  border-radius: 5px;
}
body .container .text .separator .color-light-green {
  background-color: #d4f4b4;
  width: 15px;
  height: 15px;
  display: inline-block;
  border-radius: 5px;
}
body .container .text .separator .color-light-yellow {
  background-color: #fef8c6;
  width: 15px;
  height: 15px;
  display: inline-block;
  border-radius: 5px;
}
body .container .text .separator .color-light-red {
  background-color: #fdb3ab;
  width: 15px;
  height: 15px;
  display: inline-block;
  border-radius: 5px;
}
body .container .text .separator .separator-right table tr .color-light-green {
  background-color: #d4f4b4;
  width: 100%;
  height: 100%;
  display: inline-block;
  color: black;
  border-radius: 2%;
  box-shadow: 0px 0px 50px #d4f4b4;
  text-align: center;
}
body .container .text .separator .separator-right table tr .color-light-yellow {
  background-color: #fef8c6;
  width: 100%;
  height: 100%;
  display: inline-block;
  color: black;
  border-radius: 2%;
  box-shadow: 0px 0px 50px #fef8c6;
  text-align: center;
}
body .container .text .separator .separator-right table tr .color-light-red {
  background-color: #fdb3ab;
  width: 100%;
  height: 100%;
  display: inline-block;
  color: black;
  border-radius: 2%;
  box-shadow: 0px 0px 50px #fdb3ab;
  text-align: center;
}
body .container .text .separator .separator-right table tr .color-green {
  background-color: #66ff66;
  width: 100%;
  height: 100%;
  display: inline-block;
  color: black;
  border-radius: 2%;
  box-shadow: 0px 0px 50px #66ff66;
  text-align: center;
}
body .container .text .separator .payment-off {
  border: 2px solid rgb(0, 255, 0);
  height: 25px;
  width: 25px;
  user-select: none;
  display: inline-block;
  transition: 0.3s all;
  color: white;
  border-radius: 40%;
}
:is(.separator .payment-off, .separator .payment-on) span {
  margin: 9px;
  font-size: 18px;
}
body .container .text .separator .payment-off:hover {
  background: black;
  transform: scale(1.1);
  color: rgb(0, 255, 0);
}
body .container .text .separator .payment-on {
  border: 2px solid rgb(0, 255, 0);
  height: 25px;
  width: 25px;
  user-select: none;
  display: inline-block;
  transition: 0.3s all;
  background: rgb(0, 39, 0);
  color: white;
  border-radius: 40%;
}
body .container .text .separator .payment-on:hover {
  background: black;
  transform: scale(1.1);
  color: #999898;
}
body
  .container
  .text
  .separator
  .separator-right
  table
  tr
  .color-light-green
  p {
  color: black;
  margin-top: 35%;
}
body .container .text .separator .separator-right table tr .color-green p {
  color: black;
  margin-top: 35%;
}
body .container .text .separator .separator-right table tr .color-light-red p {
  color: black;
  margin-top: 35%;
}
body
  .container
  .text
  .separator
  .separator-right
  table
  tr
  .color-light-yellow
  p {
  color: black;
  margin-top: 35%;
}
body .container .text .separator .color-text-green {
  background-color: green;
  color: white;
  padding-left: 5px;
  padding-right: 5px;
  border: 0.5px solid rgb(0, 255, 0);
  border-radius: 9px;
  user-select: none;
}
body .container .text .separator .color-text-red {
  background-color: red;
  color: white;
  padding-left: 5px;
  padding-right: 5px;
  border: 0.5px solid rgb(0, 255, 0);
  border-radius: 9px;
  user-select: none;
}
body .container .text .separator .color-text-blue {
  background-color: blue;
  color: white;
  padding-left: 5px;
  padding-right: 5px;
  border: 0.5px solid rgb(0, 255, 0);
  border-radius: 9px;
  user-select: none;
}
body .container .text .separator .color-text-gray {
  background-color: gray;
  color: white;
  padding-left: 5px;
  padding-right: 5px;
  border: 0.5px solid rgb(0, 255, 0);
  border-radius: 9px;
  user-select: none;
}
body .container .text .separator .color-orange {
  background-color: orange;
  width: 15px;
  height: 15px;
  display: inline-block;
  border-radius: 5px;
}
body .container .text .separator .color-red {
  background-color: red;
  width: 15px;
  height: 15px;
  display: inline-block;
  border-radius: 5px;
}
body .container .text .separator .color-red-light {
  background-color: #ef4444;
  width: 15px;
  height: 15px;
  display: inline-block;
  border-radius: 5px;
}
body .container .text .separator .color-light-red-light {
  background-color: #fca5a5;
  width: 15px;
  height: 15px;
  display: inline-block;
  border-radius: 5px;
}
body .container .text .separator .color-light-red-l {
  background-color: #fecaca;
  width: 15px;
  height: 15px;
  display: inline-block;
  border-radius: 5px;
}
body .container .text .separator .separator-right .img-center {
  margin-left: 20%;
  float: left;
  filter: drop-shadow(0px 0px 50px yellow);
  transition: 0.3s all;
}
body .container .text .separator .separator-right .img-center:hover {
  transform: scale(1.1) rotate(360deg);
  filter: drop-shadow(0px 0px 80px yellow);
}
body .container .text .separator .color-light-orange {
  background-color: #ffcc66;
  width: 15px;
  height: 15px;
  display: inline-block;
  border-radius: 5px;
}
body .container .text .separator .color-dark-blue {
  background-color: #075985;
  width: 15px;
  height: 15px;
  display: inline-block;
  border-radius: 5px;
}
body .container .text .separator .color-blue {
  background-color: #0369a1;
  width: 15px;
  height: 15px;
  display: inline-block;
  border-radius: 5px;
}
body .container .text .separator .color-light-blue {
  background-color: blue;
  width: 15px;
  height: 15px;
  display: inline-block;
  border-radius: 5px;
}
body .container .text .separator .color-light-blue-light {
  background-color: #0ea5e9;
  width: 15px;
  height: 15px;
  display: inline-block;
  border-radius: 5px;
}
body .container .text .separator .color-blue-light {
  background-color: #38bdf8;
  width: 15px;
  height: 15px;
  display: inline-block;
  border-radius: 5px;
}
body .container .text .separator .color-light-blue-l {
  background-color: #7dd3fc;
  width: 15px;
  height: 15px;
  display: inline-block;
  border-radius: 5px;
}
body .container .text .separator .color-light-blue-light-l {
  background-color: #bae6fd;
  width: 15px;
  height: 15px;
  display: inline-block;
  border-radius: 5px;
}
body .container .text .separator .color-dark-gray {
  background-color: #525252;
  width: 15px;
  height: 15px;
  display: inline-block;
  border-radius: 5px;
}
body .container .text .separator .color-gray {
  background-color: gray;
  width: 15px;
  height: 15px;
  display: inline-block;
  border-radius: 5px;
}
body .container .text .separator .color-gray-light {
  background-color: #a3a3a3;
  width: 15px;
  height: 15px;
  display: inline-block;
  border-radius: 5px;
}
body .container .text .separator .color-light-gray {
  background-color: #d4d4d4;
  width: 15px;
  height: 15px;
  display: inline-block;
  border-radius: 5px;
}
body .container .text .separator .color-light-gray-light {
  background-color: #e5e5e5;
  width: 15px;
  height: 15px;
  display: inline-block;
  border-radius: 5px;
}
::-webkit-scrollbar {
  background: linear-gradient(
      180deg,
      rgba(0, 0, 0, 1) 0%,
      rgba(46, 46, 46, 1) 100%
    )
    no-repeat;
}
::-webkit-scrollbar-thumb {
  background: linear-gradient(
    241deg,
    rgba(0, 0, 0, 0.9304096638655462) 0%,
    rgba(32, 32, 32, 0.93) 29%,
    rgba(10, 10, 10, 0.93) 50%,
    rgba(70, 70, 70, 0.93) 70%,
    rgba(150, 150, 150, 0.93) 100%
  );
  border-radius: 20px;
  transition: 0.3s all;
}
::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(
    157deg,
    rgba(150, 150, 150, 0.93) 0%,
    rgba(70, 70, 70, 0.93) 24%,
    rgba(10, 10, 10, 0.93) 50%,
    rgba(32, 32, 32, 0.93) 79%,
    rgba(0, 0, 0, 0.9304096638655462) 100%
  );
}
::selection {
  background: black;
  color: rgb(0, 255, 0);
}
::-moz-selection {
  background: black;
  color: rgb(0, 255, 0);
}
::-webkit-selection {
  background: black;
  color: rgb(0, 255, 0);
}
::-ms-selection {
  background: black;
  color: rgb(0, 255, 0);
}
body .container .text .list-numbers {
  width: 90%;
  transition: 0.3s all;
  margin-left: 2%;
  border-left: 1px solid white;
  border-radius: 1.25em;
  padding: 3%;
}
body .container .text .list-numbers:hover {
  transform: scale(1.1);
  margin-left: 6%;
  border: 1px solid white;
  border-radius: 1.25em;
  box-shadow: 0px 0px 50px #7e7e7e;
  filter: drop-shadow(0px 0px 60px #949494);
  width: 82%;
  margin-top: 4%;
  background: black;
}
body .container .text .list-numbers li {
  transition: 0.3s all;
  color: white;
  filter: drop-shadow(5px 3px 5px #dadadaa9);
}
body .container .text .list-numbers li:hover {
  transform: scale(1.1);
  filter: drop-shadow(0px 0px 20px rgb(75, 255, 75));
  color: rgb(0, 255, 0);
  margin-left: 7%;
  width: 90%;
}
body .container .text .path {
  border: 0.1em solid white;
  font-weight: 300;
  border-radius: 1.25em;
  padding: 0.3em;
  background: url("/path.jpg") center bottom;
  margin-left: 0.6253em;
  font-size: small;
  color: white;
  width: fit-content;
  transition: 0.3s all;
  filter: drop-shadow(0px 0px 1px #7e7e7e);
}
body .container .text .prew-brow .brow .alert-js {
  margin-left: 40%;
  margin-right: 40%;
  margin-top: -0.5%;
  height: 39%;
  width: 19%;
  border: 1px solid black;
  text-align: center;
  color: white;
  background-color: rgb(15, 15, 15);
  border-radius: 0% 0% 10% 10%;
  padding: 2%;
  opacity: 1;
  transition: 0.3s all;
}
body .container .text .prew-brow .brow .alert-js .exit {
  float: right;
  opacity: 1;
  text-align: none;
  color: white;
  background: #151515;
  padding:1%;
  transition: 0.3s all;
}
body .container .text .prew-brow .brow a {
  color:black;
}
body .container .text .prew-brow .brow a:hover {
    color:white;
}
body .container .text .center-text{
  text-align: center;
}
body .container .text .image-block{
  margin-top: 1%;
  margin-left: 25%;
  margin-bottom: 1%;
  width: 40%;
  height: 30%;
  border: 0.1em solid rgb(0, 255, 0);
  border-radius: 1.25em;
  padding: 5%;
  transition: 0.3s all;
  text-align: center;
  color: rgb(0, 255, 0);
  box-shadow: 0px 0px 50px white;
  display: block;
}
body .container .text .image-block img{
  width: 100%;
  height: 100%;
  border-radius: 1.25em;
  transition: 0.3s all;
  box-shadow: 0px 0px 20px white;
}
body .container .text .image-block img:hover{
  transform: scale(1.1);
  box-shadow: 0px 0px 50px white;
}
body .conatiner .text .image-block:hover{
  box-shadow: 0px 0px 80px rgb(0, 255, 0) !important;
  border: 0.1em solid white !important;
}
